@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700&display=swap');

body {
  font-family: 'Assistant', sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  line-height: 1.25;
}
