.form {
  @include flex(null, null, column);
  background-color: #fafafa;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 2.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .125);

  @include responsive(phone) {
    padding: 2rem 1.25rem;
  }

  &__group {
    margin-bottom: 1.5rem;
  }

  &__label {
    display: none;
  }

  &__input {
    background: none;
    width: 100%;
    padding: .75rem 1rem;
    border: 1px solid $border-color;
    border-radius: .5rem;
    font-size: 1rem;
  }

  &__textarea {
    resize: none;
    background: none;
    width: 100%;
    padding: 1rem;
    border: none;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  &__footer {
    @include flex(null, center);
    padding-top: 1rem;
    border-top: 1px solid $border-color;
  }

  &__nickname {
    flex-grow: 1;
    border: none;
    margin-right: 2rem;

    @include responsive(phone) {
      margin-right: 0;
    }
  }
}
