// Brand Colors
$twitch-purple: #9146ff;
$pac: #ffca5f;
$jiggle: #fab4ff;
$wipeout: #00c8af;
$black: #000;
$ice: #f0f0ff;

// Grey
$grey-dark-01: #0e0e10;
$grey-dark-02: #18181b;
$grey-dark-03: #1f1f23;

$grey-light-01: #f7f7f8;
$grey-light-02: #efeff1;
$grey-light-03: #dedee3;
$grey-light-04: #adadb8;
$grey-light-05: #53535f;
