*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  min-height: -webkit-fill-available;
}

a {
  color: currentColor;
  text-decoration: none;
}

p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
  user-select: none;
}

button {
  cursor: pointer;
}
