// Colors
$primary-dark: #4f626e;
$primary: #688090;
$primary-light: #8498a8;

$red: palevioletred;
$white: #fdfdfd;

// border-radius
$radius-xl: 64rem;
$radius-m: 1.5rem;
$radius-s: 1rem;
$radius-xs: .5rem;
$radius-xxs: .25rem;
